<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management Website</title>
</head>
<body>
    <h1>Hotel Management Registration Form</h1>
    <form action="/signup" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required><br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="accounttype">Account Type:</label>
        <select id="accounttype" name="accounttype" required>
            <option value="Customer">Customer</option>, Hotel Manager, Admin
            <option value="Hotel-Manager">Hotel-Manager</option>
            <option value="Admin">Admin</option>
        </select><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
